<div class="container">
  <h3> Submit Info to Log In</h3>
  <form action="/users" method="get">
  <input type="text" name="user[nickname]" placeholder="nickname" >
  <br>
  <br>
  <input type="password" name="user[password]"  placeholder="password" >
  <br><br>
  <input type="submit" value="Log In!">
  </form>
</div
